.App {
  /* text-align: center; */
  /* display: flex; */
  
}

header {
  
  font-size: x-large;
  font-weight: bold;
}

h4 {
  color: grey;
}

/* div {
  width: 480px;
  border: 1px solid darkgrey;
} */